<a href="https://colab.research.google.com/github/saadhroub/dataScience/blob/master/Sundos_Saad_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the project of Saad and Sundos, it covers the EDA part of project: ....

Table of Contents
1. Ask an interesting question
2. Get the Data
3. Explore the Data
4. Model the Data
5. Data Visulization
6. Insights

Section 1: Import and read data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

Step 2: Create data paths

In [ ]:
!ls '/content/drive/MyDrive/Saad_Sundos/'

'Crowdfunding prototype flow  (1).png'	 ks-projects-201801.csv
'Crowdfunding prototype flow .png'	'Untitled Diagram.jpg'
 Kickstarter2021.csv			'Untitled document.docx'
 Kickstarter.csv			'User Diagram .vpd.pdf'
 ks-projects-201612.csv

In [ ]:
#Connect to google drive
from google.colab import drive
drive.mount('/content/drive')
original_data_url = '/content/drive/MyDrive/Saad_Sundos/'
data_2016_csv = original_data_url + 'ks-projects-201612.csv'
data_2018_csv = original_data_url + 'ks-projects-201801.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Reading the data
data_2016 = pd.read_csv(data_2016_csv, usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12], engine='python')
data_2016.columns=['ID','name','category','main_category','currency','deadline','goal','launched','pledged','state','backers','country','usd pledged']
data_obj=data_2016.select_dtypes(['object'])
data_2016[data_obj.columns] = data_obj.apply(lambda x: x.str.strip())
data_2016

                ID  ... usd pledged
0       1000002330  ...           0
1       1000004038  ...         220
2       1000007540  ...           1
3       1000011046  ...        1283
4       1000014025  ...       52375
...            ...  ...         ...
323745   999976400  ...          25
323746   999977640  ...         155
323747   999986353  ...          20
323748   999987933  ...         200
323749   999988282  ...         524

[323750 rows x 13 columns]